.row
	%section#home1
		.row
			.col-sm-8.col-sm-offset-2
				.jumbotron.center
					%h1 Learn and Return
					%h2 Watch your skillset rapidly develop by working with others at a similar skill level.
					%h4 At Peeramid, anything you learn can be immediately useful. By passing along your newly acquired skills to others, you will grasp a better fundamental understanding of your curriculum, join an amazing network of likeminded students, and save some money along the way.
					.btn-lg.btn-primary
						%a= link_to 'Sign Up Now', '#'

	%section#home2
		.col-sm-8.col-sm-offset-2
			.well.center
				%h1 We get it. You've hit a brick wall.
				%h4 Learning is tough. But it shouldn't be expensive.



