.row
	%section#home1
		.row
			.col-sm-8.col-sm-offset-2
				.jumbotron.center
					%h3 Trying to Learn How to Program?
					%h1 Learn and Return,
					%h1 Leech or Teach
					%h2 Watch your skillset rapidly develop by working with others at a similar skill level.
					%h4 At Peeramid, anything you learn can be immediately useful. By passing along your newly acquired skills to others, you will grasp a better fundamental understanding of your curriculum, join an amazing network of likeminded students, and save some money along the way.
					.btn.btn-primary
						%a= link_to 'Sign Up Now', new_user_registration_path

	%section#home2
		.col-sm-8.col-sm-offset-2
			.well.center
				%h1 A brick wall. You've hit one.
				%h3 We get it. Learning is tough. But it shouldn't be expensive.
				%h3 



