.row
	%section#home1
		.row
			.col-sm-8.col-sm-offset-2
				.jumbotron.center
					%h4 Trying to Learn How to Program?
					%h1 Learn and Return
					%h1 Leech or Teach
					%h3 Watch your skillset rapidly develop by working with others at a similar skill level.
					%h4 At Peeramid, anything you learn can be immediately useful. By passing along your newly acquired skills to others, you will grasp a better fundamental understanding of your curriculum, join an amazing network of likeminded students, and save some money along the way.
					.btn.btn-lg.btn-primary
						%a= link_to 'Sign Up Now', new_user_registration_path

	.divide

	%section#home2
		.col-sm-8.col-sm-offset-2
			.center.well#brickwall
				%h1 A Brick Wall. 
				%h1 You've hit one.
				%h3 We get it. Learning to program is tough. But it shouldn't be expensive.

	.divide


