// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
	width: 100%;
	padding-top: 70px;
	background-color: gray;
}

.container {
	width: auto;
}

.btn a {
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
 }
}

.panel {
	margin-top: 50px;
	width: 400px;
}


.well {
	background-color: hsla(190, 96%, 40%, .85);
	padding: 5px;
	border-style: none;
	top: 50%;
}






/* navigation bar */

.navbar {
	background-color: #39AECF;
	border-radius: 0;
	margin-bottom: 0;
	color: white;
}

.navbar a {
	color: white;
}

.navbar-brand {
	font-size: 2em;
	font-family: 'playfair display';
	letter-spacing: 5px;
	font-weight: bold;
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.nav > li > a:hover, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #39AECF;
}




/* landing page */


#home1 {
	background: url('sky.jpg') no-repeat 50% 0 fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 40em;
  width: 100%;
  font-family: futura;
}

#home2 {
	background: url('bricks.jpg') no-repeat 50% 0 fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 35em;
  width: 100%;
  font-family: futura;
  color: white;
  padding-top: 50px;
}

.jumbotron {
	background-color: rgba(231, 76, 60, 0.7);
	color: white;
	margin-top: 3em;
}

.center {
	text-align: center;
}
