// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
	width: 100%;
}

a {
	color: white;
}



.homepage {
	background-image: url('inkpainting.jpg');
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


/* navigation bar */

.navbar {
	background-color: #39AECF;
	border-radius: 0;
}

.navbar-brand {
	font-size: 2em;
	font-family: 'lato';
}
