// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
	width: 100%;
	background-color: #3B3B3B;
}

.container {
	width: auto;
}

a {
	color: white;
}

.btn-lg a:hover {
	color: white;
	text-decoration: none;
}


.well {
	background-color: hsla(190, 96%, 40%, .85);
	padding: 5px;
	border-style: none;
	top: 50%;
}






/* navigation bar */

.navbar {
	background-color: #39AECF;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 2em;
	font-family: 'playfair display';
	letter-spacing: 5px;
	&:hover {
		color: white;
	}
}




/* landing page */


#home1 {
	background: url('hike.jpg') no-repeat 50% 0 fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 40em;
  width: 100%;
  font-family: futura;
}

#home2 {
	background: url('bricks.jpg') no-repeat 50% 0 fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 40em;
  width: 100%;
  font-family: futura;
  color: white;
  padding-top: 50px;
}

.jumbotron {
	background-color: rgba(231, 76, 60, 0.85);
	color: white;
	margin-top: 3em;
}

.center {
	text-align: center;
}
